
.i1{
    position: absolute;
    top: -80;    
   width: 43%;
   margin: 0;
   padding: hidden; 
   



   .P1{
    width: 65%;
    height: 125px;
    box-shadow: 0 0 20px 0px lightyellow;
    display: inline-block;
   }

   :hover{
    transform: scale(1.5);
    transition: 0.4s 0.4s ease-in-out;
}


}


.i2{
    position: absolute;
    top: -300%;
   width: 43%;
   margin: 0;
   padding: hidden; 
   right: 123px;
   
        


   .P2{
    width: 65%;
    height: 120px;
    border: 1px solid #ccc;
        background: rgba(167, 161, 161, 0.4);
        text-align: center;
        font-size: 100px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
        transition: scale(1);
        

}


:hover{
    transform: scale(1.5);
    transition: 0.4s 0.4s ease-in-out;
}


}

.i3{

    position: absolute;
    top: -300%;
   width: 43%;
   margin: 0;
   padding: hidden; 
   right: -88px;

  
   .P3{
    width: 65%;
    height: 120px;
    border: 1px solid #ccc;
        background: rgba(167, 161, 161, 0.4);
        text-align: center;
        font-size: 100px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
        transition: scale(1);

   }

   
:hover{
    transform: scale(1.5);
    transition: 0.4s 0.4s ease-in-out;
}
}



.i8{
    position: absolute;
    top: -150%;
    bottom: 80px;
   width: 43%;
   margin: 0;
   padding: hidden; 
   right: 123px;
   
        


   .P8{
    width: 65%;
    height: 120px;
    border: 1px solid #ccc;
        background: rgba(167, 161, 161, 0.4);
        text-align: center;
        font-size: 100px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
        transition: scale(1);
        

}


:hover{
    transform: scale(1.5);
    transition: 0.4s 0.4s ease-in-out;
}
}

.i4{
    position: absolute;
    top: -150%;
   width: 43%;
   margin: 0;
   padding: hidden; 
   right: -88px;
   right: 335px;
   
        


   .P4{
    width: 65%;
    height: 120px;
    border: 1px solid #ccc;
        background: rgba(167, 161, 161, 0.4);
        text-align: center;
        font-size: 100px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
        transition: scale(1);
        

}


:hover{
    transform: scale(1.5);
    transition: 0.4s 0.4s ease-in-out;
}
}

.i5{
    position: absolute;
    top: -80;
   width: 43%;
   margin: 0;
   padding: hidden; 
   right: 123px;
   
        


   .P5{
    width: 65%;
    height: 120px;
    border: 1px solid #ccc;
        background: rgba(167, 161, 161, 0.4);
        text-align: center;
        font-size: 100px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
        transition: scale(1);
        

}


:hover{
    transform: scale(1.5);
    transition: 0.4s 0.4s ease-in-out;
}


}




.i6{

    position: absolute;
    top: -150%;
   width: 43%;
   margin: 0;
   padding: hidden; 
   right: -88px;


   .P6{
    width: 65%;
    height: 120px;
    border: 1px solid #ccc;
        background: rgba(167, 161, 161, 0.4);
        text-align: center;
        font-size: 100px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
        transition: scale(1);

   }

   
:hover{
    transform: scale(1.5);
    transition: 0.4s 0.4s ease-in-out;
}
}


.i7{
    position: absolute;
    top: -300%;
   width: 43%;
   margin: 0;
   padding: hidden; 
   right: -88px;
   right:  335px;
   
        


   .P7{
    width: 65%;
    height: 120px;
    border: 1px solid #ccc;
        background: rgba(167, 161, 161, 0.4);
        text-align: center;
        font-size: 100px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
        transition: scale(1);
        

}


:hover{
    transform: scale(1.5);
    transition: 0.4s 0.4s ease-in-out;
}

}

.i9{

    position: relative;
    top: -150%;
   width: 43%;
   margin: 0;
   padding: hidden; 
   left: 423px;



   .P9{
    width: 65%;
    height: 120px;
    border: 1px solid #ccc;
        background: rgba(167, 161, 161, 0.4);
        text-align: center;
        font-size: 100px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
        transition: scale(1);




        animation-name: r1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
   }

   
:hover{
    transform: scale(1.5);
    transition: 0.4s 0.4s ease-in-out;
}
}



    
